name: Mirror WordPress Site

on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install wget
        run: sudo apt-get update && sudo apt-get install -y wget

      - name: Scrape single page
        run: |
          mkdir public
          wget \
            --page-requisites \
            --convert-links \
            --adjust-extension \
            -O public/index.html \
            https://regios.org.pl//konkurs-innowacyjnie-zielony-slask-przyszlosci-ii-edycja/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./regios.org.pl
